name: DevSecOps Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  # Unit testing
  test:
    name: Unit testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test 

  # Node.js Build & Test

  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint || true  

      - name: Build project
        run: npm run build


  # Dependency Vulnerability Scan
 
  dependency-scan:
    name: Dependency Security Scan
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high


  # Docker Build & Scan
 
  docker-build-and-scan:
    name: Docker Build & Security Scan
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t streamgen-ai:latest .

      - name: Save docker artifact
        run: docker save streamgen-ai:latest -o streamgen-ai.tar

      - name: Uploading artifact
        uses: actions/upload-artifact@v4
        with:
          name: streamgen-ai
          path: streamgen-ai.tar

      - name: Scan Docker image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: streamgen-ai:latest
          severity: CRITICAL,HIGH

 
  Deploy to Docker Hub
 
  deploy:
    name: Deploy to Docker Hub
    runs-on: ubuntu-latest
    needs: docker-build-and-scan
    if: github.ref == 'refs/heads/main'  # deploy only on main

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: streamgen-ai
        
      - name: load docker
        run: docker load -i streamgen-ai.tar

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker tag streamgen-ai:latest ${{ secrets.DOCKER_USERNAME }}/streamgen-ai:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/streamgen-ai:latest
